<div class="col-xs-12" id="index-box">
    <input ng-model="url" name="url" class="form-control center-block" id="url-box"
           placeholder="Enter URL...">
    <div id="index-button-block" class="col-xs-12 text-center">
        <button type="button" class="btn btn-success btn-lg" id="index-button">Index</button>
        <button type="button" class="btn btn-danger btn-lg" id="search-button">Clear</button>
    </div>
</div>

<div id="index-result" class="col-xs-12">
    <p>Indexed <strong>8</strong> new pages and <strong>345</strong> words.</p>
</div>