<div class="col-xs-12" id="index-box">
    <div class="col-xs-10">
        <input ng-model="search.word" name="url" class="form-control center-block" id="word-box"
               placeholder="Enter the word to search for...">
    </div>
    <div class="col-xs-1">
        <button type="button" class="btn btn-success" id="search-button" ng-click="searchWord()">Search</button>
    </div>

</div>

<div id="search-result" class="col-xs-12">
    <p ng-show="search.waiting">Searching...</p>
    <p ng-show="search.done">Found <strong>{{ result.length }}</strong> results.</p>
    <div ng-show="search.done" ng-repeat="res in result">
        <a href="{{ res.page.link }}"><u>{{ res.page.title }}</u></a>
        <p>Ocurrences: <strong>{{ res.count }}</strong></p>
    </div>
</div>