<div class="col-xs-12" id="index-box">
    <div class="col-xs-10">
        <input ng-model="word" name="url" class="form-control center-block" id="word-box"
           placeholder="Enter the word to search for...">
    </div>
    <div class="col-xs-1">
        <button type="button" class="btn btn-success" id="search-button" ng-click="searchWord()">Search</button>
    </div>

</div>

<div id="search-result" class="col-xs-12">
    <p>Indexed <strong>8</strong> new pages and <strong>345</strong> words.</p>
</div>